<div class="drop-area">
</div>
<div class="picker">
    <form action="/upload/image" method="post">
        <button class="btn">Choose file</button>
        <input type="file" class="input-file" name="image[file]" />
        <input type="hidden" class="uid" name="image[uid]" />
    </form>
</div>