<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12 grid-rows">
            <div class="row row-new">
                <div class="grid-new grid2" data-width="2"></div>
            </div>
        </div>
    </div>
</div>