<div id="modal-delete-dashboard" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <h3 id="myModalLabel">Delete dashboard</h3>
  </div>
  <div class="modal-body">
    <p>Are you sure you want to delete this dashboard?</p>
    <p><strong>This operation can not be reversed.</strong></p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
    <button class="btn btn-danger" onclick="SR.trigger('deleteDashboard')">Delete dashboard</button>
  </div>
</div>