<div class="graph-overview">
    <p class="p1"><b>{{likes}}</b> likes</p>
    <p class="p2"><b>{{engaged}}</b> engaged users <sup>(28 days)</sup></p>
    <p class="p3"><b>{{fofs}}</b> friends of fans</p>
</div>