<div class="graph-overview">
    <p class="p1"><b>{{followers_count}}</b> followers</p>
    <p class="p2"><b>{{friends_count}}</b> following</p>
    <p class="p3"><b>{{listed_count}}</b> listed</p>
</div>