<!DOCTYPE html>
<html>
  <head>
    <title>Switch Reports</title>
    <link rel="shortcut icon" href="/img/fav.png">
    {{{css 'home'}}}
  </head>
  <body class="userNotFetched">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner2">
        <div class="container-fluid">
          <ul class="sections">
              <li><a href="/" class="brand"><img src="/img/sw_logo.png"></a></li>
              <li><a href="#features">features</a></li>
              <li><a href="#pricing">pricing</a></li>
              <li><a href="#blog">blog</a></li>
              <li><a href="#try">try it free</a></li>
              <li class="withoutUser">
                <a id="signInButton" href="#signInModal" data-toggle="modal" data-target="#signInModal">
                  <h3>sign in</h3>
                  <div class="sprite-hover"><img src="/img/fb_icon.png"></div>
                </a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="main" class="container">
      <div class="top_fullwidth">
        <div class="section"><img src="/img/HeaderForAppSite.png"><a href="#signInModal" data-toggle="modal" data-target="#signInModal">
            <div class="rounded-button signup">
              <h5>Try It Free!   </h5>
            </div></a></div>
      </div>
      <div class="fullwidth_icons">
        <div class="section"><center> <img src="/img/edit_profile.png"><img src="/img/edit_profile.png"><img src="/img/edit_profile.png"></div>
      </div>
      <div class="new_left_third">
        <div class="section">
          <h2>Connect To Facebook</h2><center><img src="/img/1.png"></center>
          <p>Use the secure login to connect to your Facebook account so we can build your custom reports.</p>
        </div>
      </div>
      <div class="mid_third">
        <div class="section">
          <h2>Create Your Reports</h2><center><img src="/img/2.png"></center>
          <p>Drag-and-drop charts, graphs, and text fields into your report to create with ease and add your logo and company info to brand it as your own.</p>
        </div>
      </div>
      <div class="right_third">
        <div class="section">
          <h2>Email On Autopilot</h2><center><img src="/img/3.png"></center>
          <p>Tell us who you want your reports to go to and when you want them to be sent out.  We'll handle the rest.</p>
          <p><br></p>
          <p><br></p>
        </div>
        <div class="section"><a href="#signInModal" data-toggle="modal" data-target="#signInModal">
            <div class="rounded-button signup">
              <h5>Try It Free!</h5>
            </div></a>
          <p><br></p>
        </div>
      </div>
      <div class="fullwidth">
        <div class="section"></div>
      </div>
      <div class="fullwidth_pricing">
        <div class="section">
          <h2>Scalable Packages</h2>
          <div class="span3 pricehover well">
            <div class="price"> 
              <h2>Free</h2>
            </div>
            <ul class="unstyled pricing animated fadeIn">
              <li>1 Facebook Page</li>
              <li>Unlimited Reports</li>
              <li>Unlimited Emails</li>
            </ul>
            <h3>$/mth </h3><a href="#signInModal" data-toggle="modal" data-target="#signInModal">
              <div class="rounded-button signup">
                <h5>Try It Free! </h5>
              </div></a>
          </div>
          <div class="span3 pricehover well featured">
            <div class="price featuredprice"> 
              <h2>Pro</h2>
            </div>
            <ul class="unstyled pricing animated fadeIn">
              <li>X Facebook Pages</li>
              <li>Unlimited Reports</li>
              <li>Unlimited Emails</li>
            </ul>
            <h3>$/mth       </h3><a href="#signInModal" data-toggle="modal" data-target="#signInModal">
              <div class="rounded-button blueL">
                <h5>Continue...</h5>
              </div></a>
          </div>
          <div class="span3 pricehover well">
            <div class="price"> 
              <h2>Extreme</h2>
            </div>
            <ul class="unstyled pricing animated fadeIn">
              <li>X Facebook Pages</li>
              <li>Unlimited Reports</li>
              <li>Unlimited Emails</li>
            </ul>
            <h3>$/mth       </h3><a href="#signInModal" data-toggle="modal" data-target="#signInModal">
              <div class="rounded-button blueL">
                <h5>Continue...</h5>
              </div></a>
          </div>
        </div>
      </div>
      <div class="bottom_fullwidth">
        <div class="section">
          <h2>Time Saving Features</h2>
        </div>
      </div>
      <div class="new_left_third">
        <div class="section">
          <p><img src="/img/placeholder.jpg" class="img-polaroid"> </p>
          <p>A little text here to describe this photo.</p>
        </div>
      </div>
      <div class="bottom_fullwidth">
        <div class="section">
          <h2><a href="www.google.com"> Click Here to Grab your Free Trial</a><br> No Credit Card is required.</h2><a href="#signInModal" data-toggle="modal" data-target="#signInModal">
            <div class="rounded-button signup">
              <h5>Try It Free!</h5>
            </div></a>
          <p><br></p>
        </div>
      </div>
    </div>
    <footer>
      <div class="foot-wrap">
        <ul class="sections"><a href="/" class="brand"><img src="/img/sw_logo.png"></a></ul>
        <div class="sections">
          <div class="first_fourth"><a href="#about">About<br></a><a href="#features">Features<br></a><a href="#pricing">Pricing <br></a></div>
          <div class="second_fourth"><a href="#try">Try It Now <br></a><a href="#blog">Blog <br></a></div>
          <div class="third_fourth"><a href="http://www.google.com">Support</a></div>
          <div class="fourth_fourth"><a href="http://www.google.com">FAQ</a></div>
        </div>
      </div>
    </footer>
    <div id="signInModal" class="modal hide fade">
      <div class="modal-header">
        <button data-dismiss="modal" class="close">&times;</button>
        <h3>Sign In</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li><a href="/auth/facebook" target="_blank" class="facebook">Facebook</a></li>
        </ul>
      </div>
      <div class="modal-footer"><a href="#" data-dismiss="modal" class="btn">Cancel</a></div>
    </div>
    {{{js 'home'}}}
  </body>
</html>